In [74]:
para1 = """
Over six years ago, in December 1989, I was looking for a "hobby"
programming project that would keep me occupied during the week around Christmas.
My office (a government-run research lab in Amsterdam) would be closed,
but I had a home computer, and not much else on my hands.
I decided to write an interpreter for the new scripting language I had been thinking about lately:
a descendant of ABC that would appeal to Unix/C hackers. I chose Python as a working title for the project,
being in a slightly irreverent mood (and a big fan of Monty Python's Flying Circus).
""".lower()


para2 = """
It all started with ABC, a wonderful teaching language that
I had helped create in the early eighties. It was an incredibly elegant
and powerful language, aimed at non-professional programmers.
Despite all its elegance and power and the availability of a free implementation,
ABC never became popular in the Unix/C world.
I can only speculate about the reasons, but here's a likely one: the difficulty of adding
new "primitive" operations to ABC. It was a monolithic, "closed system", with only the most basic
I/O operations: read a string from the console, write a string to the console.
I decided not repeat this mistake in Python.
""".lower()

In [79]:
bad_chars = ['(', ')', '.', ',',':', "'", '"', '~','`','!','@','#','$','%','^','&','*','<', '>',',','.','?','/', '\\', '|', '-','_']
for i in bad_chars:
    para1 = para1.replace(i, '')
    para2 = para2.replace(i, '')

print(para1)
print(para2)

over six years ago in december 1989 i was looking for a hobby
programming project that would keep me occupied during the week around christmas
my office a governmentrun research lab in amsterdam would be closed
but i had a home computer and not much else on my hands
i decided to write an interpreter for the new scripting language i had been thinking about lately
a descendant of abc that would appeal to unixc hackers i chose python as a working title for the project
being in a slightly irreverent mood and a big fan of monty pythons flying circus


it all started with abc a wonderful teaching language that
i had helped create in the early eighties it was an incredibly elegant
and powerful language aimed at nonprofessional programmers
despite all its elegance and power and the availability of a free implementation
abc never became popular in the unixc world
i can only speculate about the reasons but heres a likely one the difficulty of adding
new primitive operations to abc it was a monolithic closed system with only the most basic
io operations read a string from the console write a string to the console
i decided not repeat this mistake in python

In [80]:
words1 = para1.split()
words2 = para2.split()

print("Total Number of words in para1: ", len(words1))
print("Total Number of words in para2: ", len(words2))

set1 = set(words1)
set2 = set(words2)

# print("Words: ", words1)
# print("Words: ", words2)

print("Total Number of Unique words in para1: ", len(set1))
print("Total Number of Unique words in para2: ", len(set2))

Total Number of words in para1:  101
Total Number of words in para2:  105
Total Number of Unique words in para1:  76
Total Number of Unique words in para2:  73

In [77]:
intersected_set = set1.intersection(set2)

In [78]:
print("Total Number of Common words in set1 and set2: ", len(intersected_set))

Total Number of Common words in set1 and set2:  22

In [81]:
symm_diff_set = set1.symmetric_difference(set2)

In [82]:
print("Total Number of unique words in both the sets: ", len(symm_diff_set))

Total Number of unique words in both the sets:  105