In [3]:
import pandas as pd
import numpy as np

In [4]:
df =  pd.read_csv('datasets/multile-linear-regression/Train.csv')
df.shape

(8523, 12)

# Imputation

The cols Item_Weight and Outlet_Size have NULL values impute Item_weight with mean and Outlet_size = 'Small' if Outlet_Location_Type = 'Tier2', and with mode("High", "Medium" if Outlet_Location_type = 'Type3'

In [5]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
df.Item_Weight = df.Item_Weight.fillna(value = np.mean(df.Item_Weight), axis = 0)

In [7]:
df_outlet_size_imputed = df.Outlet_Size[df.Outlet_Location_Type == 'Tier 2'].fillna(value = 'Small')

In [8]:
df_outlet_size_imputed.shape

(2785,)

In [9]:
df.Outlet_Location_Type == 'Tier 2'

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519     True
8520     True
8521    False
8522    False
Name: Outlet_Location_Type, Length: 8523, dtype: bool

In [10]:
df[df.Outlet_Location_Type == 'Tier 2']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8,FDH17,16.20,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.20,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
19,FDU02,13.35,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
22,NCB30,14.60,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
25,NCD06,13.00,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
...,...,...,...,...,...,...,...,...,...,...,...,...
8510,FDN58,13.80,Regular,0.056862,Snack Foods,231.5984,OUT035,2004,Small,Tier 2,Supermarket Type1,7182.6504
8513,FDH31,12.00,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.38,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136

In [11]:
df.loc[df.Outlet_Location_Type == 'Tier 2', 'Outlet_Size'] = 'Small'

In [12]:
df[df.Outlet_Location_Type == 'Tier 2'].Outlet_Size.value_counts()

Small    2785
Name: Outlet_Size, dtype: int64

In [13]:
tier1_outlet_size_mode = df[df.Outlet_Location_Type == 'Tier 1'].Outlet_Size.mode()[0]
tier3_outlet_size_mode = df[df.Outlet_Location_Type == 'Tier 3'].Outlet_Size.mode()[0]

In [14]:
print(tier1_outlet_size_mode)
print(tier3_outlet_size_mode)

Small
Medium

In [15]:
print('Tier 1:', df.loc[df.Outlet_Location_Type == 'Tier 1', 'Outlet_Size'].isnull().value_counts())
print('Tier 2:', df.loc[df.Outlet_Location_Type == 'Tier 2', 'Outlet_Size'].isnull().value_counts())
print('Tier 3:', df.loc[df.Outlet_Location_Type == 'Tier 3', 'Outlet_Size'].isnull().value_counts())

Tier 1: False    2388
Name: Outlet_Size, dtype: int64
Tier 2: False    2785
Name: Outlet_Size, dtype: int64
Tier 3: False    2795
True      555
Name: Outlet_Size, dtype: int64

In [16]:
df.loc[df.Outlet_Location_Type == 'Tier 3', 'Outlet_Size'].fillna(tier3_outlet_size_mode)

1       Medium
3       Medium
4         High
5       Medium
6         High
         ...
8512      High
8515    Medium
8516    Medium
8518      High
8521    Medium
Name: Outlet_Size, Length: 3350, dtype: object

In [17]:
print('Tier 1:', df.loc[df.Outlet_Location_Type == 'Tier 1', 'Outlet_Size'].value_counts())
print('Tier 2:', df.loc[df.Outlet_Location_Type == 'Tier 2', 'Outlet_Size'].value_counts())
print('Tier 3:', df.loc[df.Outlet_Location_Type == 'Tier 3', 'Outlet_Size'].value_counts())

Tier 1: Small     1458
Medium     930
Name: Outlet_Size, dtype: int64
Tier 2: Small    2785
Name: Outlet_Size, dtype: int64
Tier 3: Medium    1863
High       932
Name: Outlet_Size, dtype: int64

### Properly recode the values in Item_Fat_Content

In [19]:
df.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [20]:
df.Item_Fat_Content = df.Item_Fat_Content.replace({'Low Fat' : 'LF', 'Regular' : 'reg', 'low fat' : 'LF' })

In [22]:
df.Item_Fat_Content.value_counts()

LF     5517
reg    3006
Name: Item_Fat_Content, dtype: int64

In [23]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

1. Remove the columns: `Item_Identifer`', `Item_Type`, `Outlet_Identifier`
2. Label Encode and OHE: `Item_Fat_Content`, `Outlet_Size`, `Outlet_Location_Type`, `Outlet_Type`
3. Then Check Describe, Correlation, Covariance
4. Multicollinearity 
5. build ols, check sumary, check diagnostic plots
6. Check Normality assumptions, Shapiro, check outliers/Influential values/cook's Distance
7. Stepwise AIC will give us good features - Feature Extraction
8. Take the best p-vale, vairables from stepwise AIC and build ols agaidn

In [34]:
### Removing Unnecessary Columns

In [35]:
df_partcleaned = df.drop(['Item_Identifier', 'Item_Type', 'Outlet_Identifier'], axis = 1)

In [36]:
df_partcleaned.shape

(8523, 9)

In [37]:
df_partcleaned.Item_Fat_Content.value_counts()

LF     5517
reg    3006
Name: Item_Fat_Content, dtype: int64

In [38]:
df_partcleaned.Outlet_Size.value_counts()

Small     4243
Medium    2793
High       932
Name: Outlet_Size, dtype: int64

In [39]:
df_partcleaned.Outlet_Location_Type.value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [40]:
df_partcleaned.Outlet_Type.value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64