# Sets

- Collection of elements with differet data types
- Collection of unique elements
- indexing can't be performed in set
- Sets follow unordered sequence of collection, but they follow order once they collect the elements.

- Sets can be built using set() and ( )

In [3]:
# Note the double rouned brackets while passing more than once value.

myset1 = set(['Data Science', 'AI', 'Machine Learning', 'Statistics', 'AI'])
myset1

{'AI', 'Data Science', 'Machine Learning', 'Statistics'}

In [8]:
A = { 1, 2, 3, 4, 211, 2, 1, 1, 1, 1, 1, 30, 44, 55, 80, True, False, 0, "One", "Two"}
A

{1, 2, 211, 3, 30, 4, 44, 55, 80, False, 'One', 'Two'}

In [9]:
len(A)

12

In [11]:
# Indexng is not possible with the lists
A[0]

TypeError: 'set' object is not subscriptable

In [15]:
B = { 'Innomatics', 'Techbology', 1, 2, 3 }
B

{1, 2, 3, 'Innomatics', 'Techbology'}

In [14]:
len(B)

5

# Methods in Sets

### Add an Item

In [31]:
B.add(5)
B

{2, 3, 5, 'Innomatics', 'Techbology'}

In [32]:
B.add(0)
B

{0, 2, 3, 5, 'Innomatics', 'Techbology'}

### Discard an Item

In [33]:
B.discard(5)
B

{0, 2, 3, 'Innomatics', 'Techbology'}

In [34]:
B.remove(5)

KeyError: 5

### Diff b/w discard and remove

* discard() gracefully terminates if the element to be discarded is not found.
* remove() throws an error if the element to be removed is not found.

### Removing the first element

* Removes the elements from the beginning

In [35]:
B.pop() # Removes the first element.
B

{0, 3, 'Innomatics', 'Techbology'}

### Difference

In [36]:
A

{1, 2, 211, 3, 30, 4, 44, 55, 80, False, 'One', 'Two'}

In [37]:
B

{0, 3, 'Innomatics', 'Techbology'}

In [38]:
A.difference(B)

{1, 2, 211, 30, 4, 44, 55, 80, 'One', 'Two'}

In [39]:
A - B

{1, 2, 211, 30, 4, 44, 55, 80, 'One', 'Two'}

In [40]:
B.difference(A)

{'Innomatics', 'Techbology'}

In [41]:
B - A

{'Innomatics', 'Techbology'}

### Intersection

In [45]:
A.intersection(B)

{0, 3}

In [46]:
B.intersection(A)

{0, 3}

### Union

In [43]:
A.union(B)

{1,
 2,
 211,
 3,
 30,
 4,
 44,
 55,
 80,
 False,
 'Innomatics',
 'One',
 'Techbology',
 'Two'}

### Symmetric Difference
Symmetric Difference is nothing but opposite of A.intersection(B)

In [44]:
A.symmetric_difference(B)

{1, 2, 211, 30, 4, 44, 55, 80, 'Innomatics', 'One', 'Techbology', 'Two'}