# Dictionaries

- Dictionary is an unordered collection of key-value pairs.


- In python, dictionaries are defined within braces {} with each item being a pair in the form of key:value. Key and value can be of any type.


- To declare a dictionary, you write dictionaryName = {dictionary key: data}

In [48]:
my_dict =  { 'key1' : 'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4' }
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

## Selection

- do selection with a key and get values.

In [49]:
my_dict['key1']

'value1'

In [50]:
my_dict['key10']

KeyError: 'key10'

## Using get()

In [51]:
my_dict.get('key2')

'value2'

In [52]:
my_dict.get('key10')

In [53]:
emp = { 'Name' : ['Virat', 'Rohit', 'Dhoni'], 'Age': [30, 32, 39], 'Designation' : ['Captain', 'VC', 'Wk'], 'Role' : 'Cricketers'}

In [54]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers'}

In [55]:
len(emp)

4

In [56]:
emp['Runs'] = [ 11520, 8686, 10773 ]

In [57]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [58]:
emp['Name']

['Virat', 'Rohit', 'Dhoni']

In [59]:
emp['Designation']

['Captain', 'VC', 'Wk']

In [60]:
emp['Name'][0]

'Virat'

# Methods

In [61]:
emp_1 = emp.copy()
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [62]:
# Gives the list of tuples: (key, values)
emp_1.items()

dict_items([('Name', ['Virat', 'Rohit', 'Dhoni']), ('Age', [30, 32, 39]), ('Designation', ['Captain', 'VC', 'Wk']), ('Role', 'Cricketers'), ('Runs', [11520, 8686, 10773])])

In [63]:
# Gives the list of Keys
emp_1.keys()

dict_keys(['Name', 'Age', 'Designation', 'Role', 'Runs'])

In [64]:
# Gives the list of values in dictionary
emp_1.values()

dict_values([['Virat', 'Rohit', 'Dhoni'], [30, 32, 39], ['Captain', 'VC', 'Wk'], 'Cricketers', [11520, 8686, 10773]])

In [65]:
# Removes the specific entry of the given key
emp_1.pop('Role')

'Cricketers'

In [66]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Runs': [11520, 8686, 10773]}

In [67]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [68]:
emp_1.update({'Sal' : 'xxxx'})

In [69]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Runs': [11520, 8686, 10773],
 'Sal': 'xxxx'}

In [70]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [71]:
emp['Age']

[30, 32, 39]

In [72]:
emp['Age'][0:2]

[30, 32]

In [74]:
emp['Age'].remove(39)

In [75]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [76]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Runs': [11520, 8686, 10773],
 'Sal': 'xxxx'}

In [77]:
emp['Age'].insert(2, 39)

In [78]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [79]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Runs': [11520, 8686, 10773],
 'Sal': 'xxxx'}

In [80]:
emp['Designation'].pop(2)

'Wk'

In [81]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [82]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC'],
 'Runs': [11520, 8686, 10773],
 'Sal': 'xxxx'}

In [83]:
emp['Designation'].insert(1, 'WK')

In [84]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'WK', 'VC'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [85]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'WK', 'VC'],
 'Runs': [11520, 8686, 10773],
 'Sal': 'xxxx'}

In [88]:
emp['Role'] = emp['Role'].lower()

In [89]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 39],
 'Designation': ['Captain', 'WK', 'VC'],
 'Role': 'cricketers',
 'Runs': [11520, 8686, 10773]}

In [90]:
import pandas as pd

In [91]:
df = pd.DataFrame(emp)

In [92]:
df

    Name  Age Designation        Role   Runs
0  Virat   30     Captain  cricketers  11520
1  Rohit   32          WK  cricketers   8686
2  Dhoni   39          VC  cricketers  10773

In [93]:
df["Name"]

0    Virat
1    Rohit
2    Dhoni
Name: Name, dtype: object