# Tuples

- `Colelection of elements with different data types`


- `Tuple is an ordered sequence of items same as list.`


- `The only diference is that tuples are immutable. Tuples once created cannot be modified.`


- `Tuples are just like lists, but you cannot modify their values. The initial values are the values that will stay for the rest of the program. `

`The easiest way to create one is with a comma-separated sequence of values.
> created by `()` and `tuple()`

- The easiest way to create one is with a comma-separated sequence of values.

In [5]:
tup = 10, 20, 30, 40, 50, "innomatics"
tup

(10, 20, 30, 40, 50, 'innomatics')

In [7]:
tup[0]

10

In [9]:
tup[0] = 30

TypeError: 'tuple' object does not support item assignment

In [10]:
tup.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [11]:
len(tup)

6

In [13]:
tup.index

In [14]:
tup.index(100)

ValueError: tuple.index(x): x not in tuple

In [15]:
tup1 = [40, 50, 60, "AI", "ML"]
tup1

[40, 50, 60, 'AI', 'ML']

In [16]:
type(tup1)

list

In [19]:
tup2 = tuple(tup1)

In [20]:
type(tup2)

tuple

In [25]:
# Convert Strings to tuple
tuple('Python')

('P', 'y', 't', 'h', 'o', 'n')