# Lambdas

### Create a function for addition of two numbers

In [5]:
def add(a, b):
    c = a + b
    return c

In [6]:
add(1, 2)

3

##### More Simpler way

In [8]:
def add(a, b):
    return a + b

In [9]:
#### Single line
def add(a, b): return a + b

In [10]:
add(10, 20)

30

In [11]:
add_lam = lambda a, b: a + b

In [12]:
add_lam(10,20)

30

In [13]:
type(add_lam)

function

##### With lambda, just replace def key word with 'lambda'
##### It is recommeded to use lambdas where the fucntion can be written `inline`.

##### Find the even using Lambda

In [22]:
is_even = lambda x: x % 2 == 0

In [23]:
is_even(10)

True

##### Find the odd using Lambda

In [24]:
is_odd = lambda x: x % 2 != 0
is_odd(10)

False

## Create a list from 300 to 500 with a step of 3

In [28]:
list1 = list(range(300, 700, 3))

In [29]:
print(list1)

[300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699]

In [31]:
# Without lambda using for and if looping get the even and odd

even_list = []
odd_list = []
for i in list1:
    if i % 2:
        odd_list.append(i)
    else:
        even_list.append(i)

In [34]:
print("Even Numbers: ", even_list, '\n')
print("Odd Numbers: ", odd_list)

Even Numbers:  [300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

Odd Numbers:  [303, 309, 315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 465, 471, 477, 483, 489, 495, 501, 507, 513, 519, 525, 531, 537, 543, 549, 555, 561, 567, 573, 579, 585, 591, 597, 603, 609, 615, 621, 627, 633, 639, 645, 651, 657, 663, 669, 675, 681, 687, 693, 699]

In [47]:
# Using Lambda
even_l_list = []
odd_l_list = []

for i in list1:
    if is_even(i):
        even_l_list.append(i)
    else: odd_l_list.append(i)

In [50]:
print("Even List: ", even_l_list, '\n')
print("Odd List: ", odd_l_list)

Even List:  [300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

Odd List:  [303, 309, 315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 465, 471, 477, 483, 489, 495, 501, 507, 513, 519, 525, 531, 537, 543, 549, 555, 561, 567, 573, 579, 585, 591, 597, 603, 609, 615, 621, 627, 633, 639, 645, 651, 657, 663, 669, 675, 681, 687, 693, 699]

# Method filter

##### Takes a function and list as arguments

In [55]:
filtered_even = list(filter(is_even, list1))

In [56]:
filtered_odd = list(filter(is_odd, list1))

In [57]:
print("Even List: ", filtered_even, '\n')
print("Odd List: ", filtered_odd)

Even List:  [300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

Odd List:  [303, 309, 315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 465, 471, 477, 483, 489, 495, 501, 507, 513, 519, 525, 531, 537, 543, 549, 555, 561, 567, 573, 579, 585, 591, 597, 603, 609, 615, 621, 627, 633, 639, 645, 651, 657, 663, 669, 675, 681, 687, 693, 699]

In [58]:
filtered_odd_inline = list(filter(lambda a: a % 2 == 1, list1))

In [59]:
filtered_even_inline = list(filter(lambda a: a % 2 == 0, list1))

In [60]:
print("Even List: ", filtered_even_inline, '\n')
print("Odd List: ", filtered_odd_inline)

Even List:  [300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

Odd List:  [303, 309, 315, 321, 327, 333, 339, 345, 351, 357, 363, 369, 375, 381, 387, 393, 399, 405, 411, 417, 423, 429, 435, 441, 447, 453, 459, 465, 471, 477, 483, 489, 495, 501, 507, 513, 519, 525, 531, 537, 543, 549, 555, 561, 567, 573, 579, 585, 591, 597, 603, 609, 615, 621, 627, 633, 639, 645, 651, 657, 663, 669, 675, 681, 687, 693, 699]