[![innomatics_1.png](https://s22.postimg.cc/vh6rctfn5/innomatics_1.png)](https://www.innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [22]:
person1 = {'Name': 'Krishna', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}

In [23]:
person1

{'Name': 'Krishna',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [24]:
list(person1.keys())

['Name', 'Gender', 'Occupation', 'Location']

In [25]:
#  CODE HERE

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [26]:
person1['Age'] = 30

In [27]:
person1

{'Name': 'Krishna',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad',
 'Age': 30}

> Remove Location in person1

In [28]:
# CODE HERE

In [29]:
person1.pop('Location')
person1

{'Name': 'Krishna',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': 30}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [30]:
# CODE HERE

In [31]:
person2 = { 'Name' : 'Raghu Ram', 'Gender' : 'Male', 'Age' : 25, 'Occupation' : 'Data Scientist'}

In [32]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [33]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Krishna', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 30}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

None

In [21]:
person1

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': 25}

{'Age': [27, 25],
 'Gender': ['Male', 'Male'],
 'Name': ['Srikanth', 'Raghu Ram'],
 'Occupation': ['Data Scientist', 'Data Scientist']}

# [Innomatics Technological Hub](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)